{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Books {% endblock %}</h1>
<!-- Utiliser la boucle jinja for pour parcourir chaque livre de la liste de livres -->
    {% for book in books %}
        <div class='book'>
<!-- Afficher l'ID du livre, qui est le premier élément avec book[0]. Afficher ensuite le titre du livre, le nom de l'auteur...etc -->
            <h3>#{{ book[0] }} - {{ book[1] }} BY {{ book[2] }}</h3>
            <i><p>({{ book[3] }} pages)</p></i>
            <p class='review'>{{ book[4] }}</p>
            <i><p>Added {{ book[5] }}</p></i>
        </div>
    {% endfor %}
{% endblock %}